<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ernie's Ride</title>
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bs/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/bicycle_icon.png') }}" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-static-top solid-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="test">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="/">{{ siteInfo["websiteTitle"] }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="header-link">Home</a></li>
            <li><a href="/meeternie" class="header-link">Meet Ernie</a></li>
            <li class="dropdown"><a href="#" id="thisThing" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Past Rides<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for rideYear in siteInfo["pastRides"] %}
                  <li><a href="/past-rides/{{ rideYear["title"] }}">{{ rideYear["title"] }}</a></li>
                {% endfor %}
              </ul>
            </li>
          <li class="dropdown"><a href="#" id="thisThing" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">About the Centers<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about-elizabeths-new-life-center" class="header-link">Elizabeth's New Life Centers</a></li>
              <li><a href="/about-community-pregnancy-center" class="header-link">Community Pregnancy Center</a></li>
              <li><a href="/about-flc-auglaize-county" class="header-link">Family Life Center of Auglaize County</a></li>
            </ul>
          </li>
          <li><a href="/#sponsor" class="header-link">Sponsor</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="body-container">
    {% block body %}{% endblock %}
    </div>
    <nav class="navbar navbar-default navbar-static-top" id="footer">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" id="footer-text" href="mailto:erniesride@gmail.com">erniesride@gmail.com</a>
        </div>
      </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="{{ url_for('static', filename='css/bs/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>