{% extends "base_layout.html" %}
{% block body %}
	<div class="container written-content">
		<br>
		<br>
		<img src="static/images/cpc_logo.png" class="img-responsive center-block">
		<h2 class="article-title">Community Pregnancy Centers</h2>
		<p>The Community Pregnancy Center is located in Middletown, Ohio. CPC is a Christ-centered
		organization offering pregnancy tests for those who might be expecting; a 15-week Mom2 Be program teaching prenatal care &amp; nutrition, prenatal development, newborn care &amp; more; Ultrasounds; a Dad2Be program to assist young men as they prepare for fatherhood; and compassionate care &amp; support for post-abortive mothers &amp; fathers; and a Care Closet supplying diapers, formula, clothing, and other necessities at no cost.</p>
		<br>
		<img src="static/images/cpc-location.jpg" class="img-responsive center-block">
		<br>
		<p>For more info on CPC, please visit their website at <a href="www.pregnancychoice.net">www.pregancychoice.net</a></p>
	</div>
{% endblock %}