{% extends 'base_admin.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>Upload New Picture</h2>
			<form method="post" enctype=multipart/form-data>
				<input type="file" name="file">
				<input type="submit" value="Upload">
			</form>
		</div>
	</div>
	<br><br>
	<div class="row">
	{% set counter = 0 %}
	{% for file in fileList %}
	<div class="col-md-2 image-directory-container">
			<div class="container-fluid height-full">
				<div class="row height-80">
					<div class="col-lg-12 height-full image-container">
						<img src="{{ url_for('static', filename='thumbnails/' + file) }}" class="img-responsive center-block" >
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 height-10">
						<p class="text-center">{{ file }}</p>
					</div>
				</div>
			</div>
	</div>
	{% if loop.index % 6 == 0 %}
	</div>
	<div class="row">
	{% endif %}
	{% endfor %}
	</div>
</div>
{% endblock %}