{% extends "base_layout.html" %}
{% block body %}
    <div class="container-fluid main-banner">
      <div class="row">
          <img src="static/images/main-bike-5-27-18.jpg" class="img-responsive center-block center-image" id="main-img">
      </div>
    </div>
    <div class="container written-content">
      <div class="row">
        <div class="col-md-6">
          <h1>Ernie's Ride 2018 - Record-Setting Success!</h1>
          <p>Ernie’s Ride 2018 was completed by all riders on Sunday, August 5 and your generous sponsorships will result in the most successful Ernie’s Ride in our short history.  Brian Messer, Chad Settlage, Tim Settlage, and I rode with a total backing of $39.23 per mile.  This meant that every 10 miles, we were facilitating gifts of $392.30 for Elizabeth’s New Life Center and The Community Pregnancy Center.  And don’t think that we didn’t talk about it!  Your willingness to give was a very real motivation each and every crank of the pedals. When we arrived at Lake Erie on Sunday afternoon at about 4:25, we knew we had done our part, along with you, in raising $12,553.60 of much-needed funding for these two centers!
          </p>
          <img src="static/images/cleveland_sign.png" class="img-responsive center-block">
          <p>Thank you for your generosity!  Thank you, also, for your prayers for our safety & success AND for your encouragement via social media as we pedaled northward.  You can read more about our adventure here.</p>
        </div>
        <div class="col-md-6">
          <h1>Ernie's Ride</h1>
          <p>
          Ernie’s Ride is an unsupported (no assistance vehicle) ride on the first weekend in August (Friday – Sunday). This challenging ride is an event created to raise funds, prayers, and awareness for two pro-life women’s centers here in Warren & Butler Counties. The Community Pregnancy Center is located in Middletown, OH, while Elizabeth's New Life Center is located in my hometown, Lebanon, OH.
          <br>
          <img src="static/images/O2E_LogoWithText-01.png" class="img-responsive center-block" id="O2E-logo">
          <br>
          The premise of the ride is very straight-forward: Riders complete as much of the 320-mile distance between the Ohio River, in Cincinnati, and Lake Erie, in Cleveland, during the 3-day event. You, if you’d like, sponsor a rider a set amount per mile. When the weekend is over, you make your donation directly to the Center you have chosen based on the total number of miles (320-mile max) your sponsored rider has covered.
          <br>
          <br>
          To sponsor, just visit the “Sponsor” section, and pick the rider you want to sponsor and the Center to which you wish to donate. Then tell us your name, email address, City, and State, and the amount per mile you are sponsoring. The website will even calculate your maximum commitment for you! After the ride, we email you with the final total of your sponsorship and a link, address, and instructions to fulfill your pledge. We don’t handle the money. Your donation goes directly to the Center! 
          <br>
          <br>
          You might say: “Why don’t I just give a set amount?” Well, you could. And, you can. Anytime. But that’s not what we are doing here. We are making a focused push to challenge ourselves to give big. The ride is part of your motivation to do so. Your per-mile pledge is THE motivation for riders to keep pedaling and to share the benefits of their joy of riding. As the miles roll by, and fatigue creeps in, we will continue to pedal knowing that each mile means life to women, babies, and families in our area. 
          <br>
          <br>
          Please sponsor generously!
          <br>
          <br>
          Godspeed,
          <br>
          Doug
          </p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Meet the 2018 Ernie's Riders</h1>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <img src="static/images/doug_shope.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Doug Shope</h3>
              <p class="text-center">
                Doug Shope is 58 years old and lives in Lebanon, Ohio with his wife Judy.  They have two grown sons and a daughter(-in-law): Andrew, Tim, &amp; Courtney.  Doug &amp; Judy attend Countryside Church of the Nazarene.
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <img src="static/images/brian_messer.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Brian Messer</h3>
              <p class="text-center">
                Brian Messer is 32 years old and lives in Lebanon, Ohio.  He and his wife Allison have two daughters, Audrey &amp; Eloise.  They attend Urbancrest Baptist Church in Lebanon.
              </p>
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-3 col-sm-6">
            <img src="static/images/chad_settlage.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Chad Settlage</h3>
              <p class="text-center">
                Chad Settlage is 45 years old and lives in Middletown, Ohio with his wife Amy.  They attend Calvary Chapel Cincinnati where Chad serves God on the worship team.
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <img src="static/images/tim_settlage.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Tim Settlage</h3>
              <p class="text-center">
                Tim Settlage (Chad's father) is 64 years old and lives in New Knoxville, Ohio.  He is retired, but remains very active cycling and playing music.
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <h4>Check out the Ernie's Ride custom cycling kit <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit-1.jpg') }}">here</a>!
            <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit-2.jpg') }}"></a>
            <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit-3.jpg') }}"></a>
            <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit-4.jpg') }}"></a>
          </h4>
        </div>
      </div>
  <script type="text/javascript">
    window.riderPledges = {
      {% for key, value in riderPledges.items() %}
        "{{ key|e }}": {{ value|e }},
      {% endfor %}
    }
    window.centerPledges = {
      {% for key, value in centerPledges.items() %}
        "{{ key|safe }}": {{ value|e }},
      {% endfor %}
    }
  </script>
{% endblock %}
