{% extends "base_layout.html" %}
{% block body %}
    <div class="container-fluid main-banner">
      <div class="row">
          <img src="static/images/IMG_1583.jpg" class="img-responsive center-block center-image" id="main-img">
      </div>
    </div>
    <div class="container written-content">
      <div class="row">
        <div class="col-md-6">
          <h1>Ernie's Ride 2019</h1>
          <p>
          Ernie’s Ride is a self-supported (no assistance vehicle) ride on the first weekend in August (Friday – Sunday). This year’s ride will take place August 2-4, 2019. This challenging ride is an event created to raise funds, prayers, and awareness for two pro-life women’s centers here in Warren & Butler Counties. The Community Pregnancy Center is located in Middletown, OH, while Elizabeth's New Life Center is located in my hometown, Lebanon, OH. 
          <br>
          <img src="static/images/O2E_LogoWithText-01.png" class="img-responsive center-block" id="O2E-logo">
          <br>
          The premise of the ride is very straight-forward: Riders complete as much of the 320-mile distance between the Ohio River, in Cincinnati, and Lake Erie, in Cleveland, during the 3-day event. Maybe 2019 is your year to ride!  You can see information on past rides on the tab above.  And, you can read more about the history, the Centers, the Ernie’s Ride Cycling Kit, and more by using the navigation tabs at the top of this page.  If you think you’d like to Ride this August, email us at erniesride@gmail.com.
          <br>
          <br>
          Or, if you’d like, you can sponsor a rider a set amount per mile. When Ernie’s Ride 2019 is over, you make your donation directly to the Center you have chosen based on the total number of miles (320-mile max) your sponsored rider has covered. 
          <br>
          <br>
          To sponsor, just visit the “Sponsor” section, and pick the rider you want to sponsor and the Center to which you wish to donate. Then tell us your name, email address, City, and State, and the amount per mile you are sponsoring. The website will even calculate your maximum commitment for you! <span class="bold">After the ride</span>, we email you with the final total of your sponsorship and a link, address, and instructions to fulfill your pledge. We don’t handle the money. Your donation goes directly to the Center!  <span class="bold">Just click the "Sponsor" tab above.</span>
          <br>
          <br>
          You might say: “Why don’t I just give a set amount?” Well, you could. And, you can. Anytime. But that’s not what we are doing here. We are making a focused push to challenge ourselves to give big. The ride is part of your motivation to do so. Your per-mile pledge is THE motivation for riders to keep pedaling and to share the benefits of their joy of riding. As the miles roll by, and fatigue creeps in, we will continue to pedal knowing that each mile means life to women, babies, and families in our area. 
          <br>
          <br>
          Please sponsor generously!
          <br>
          <br>
          Godspeed,
          <br>
          Doug
          </p>
        </div>
        <div class="col-md-6" id="state-map">
          <h1 id="sponsor">Sponsor</h1>
            <div class="container-fluid">
              <img src="static/images/state-map.jpg" class="img-responsive center-block" />
            </div>
            <br>
            <br>
            <p>
            After the Ride is completed, and the miles have been tallied, you will be contacted with the total amount of your pledge and a link for payment.  Contact will be made via the email address that you leave below.  All gifts are tax-deductible &amp; confidential.
            </p>
            <br>
            <div id="donationSection">
              <form action="javascript: myFunction(); return {};">
            <!-- <form> -->
            <div class="container same-line-container">
              <div class="form-group test">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control same-line-input" id="firstName" placeholder="John">
                <span class="error-message" id="firstName-error">This field cannot be empty.</span>
              </div>
              <div class="form-group test" id="something">
                <label for="lastName" id="last-name-label">Last Name</label>
                <input type="text" class="form-control same-line-input" id="lastName" placeholder="Smith">
                <span class="error-message" id="lastName-error">This field cannot be empty.</span>
              </div>
            </div>
              <div class="form-group">
                <label for="inputEmail">Email Address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                <span class="error-message" id="email-error">Please enter a valid e-mail address.</span>
              </div>
              <div class="container same-line-container">
              <div class="form-group test">
                <label for="city">City</label>
                <input type="text" class="form-control same-line-input" id="city" placeholder="City">
                <span class="error-message" id="city-error">This field cannot be empty.</span>
              </div>
              <div class="form-group test" id="something">
                <label for="state" id="last-name-label">State</label>
                <input type="text" class="form-control same-line-input" id="state" placeholder="" maxlength="2">
                <span class="error-message" id="state-error">This field cannot be empty.</span>
              </div>
            </div>

            <div class="form-group">
              <label for="sponsoredRider">Rider you wish to sponsor:</label>
              <select class="form-control" id="sponsoredRider">
                <option value="none"></option>
                {% for rider in riders %}
                  <option>{{rider.riderName}}</option>
                {% endfor %}
              </select>
              <span class="error-message" id="riderName-error">Please select a rider to sponsor.</span>
            </div>
            <div class="form-group">
              <label for="donationCenter">Center to which you wish to donate:</label>
              <select class="form-control" id="donationCenter">
                <option value="none"></option>
                <option>Community Pregnancy Center</option>
                <option>Elizabeth's New Life Center</option>
              </select>
              <span class="error-message" id="donationCenter-error">Please choose a donation center.</span>
            </div>
              <div class="form-group">
                <label for="pledgeAmount">Pledge Amount (per mile)</label>
                <div class="container-fluid" id="pledgeDiv">
                <input type="text" class="form-control" id="pledgeAmount" placeholder="$0.00" > <span id="mileText"> x 320 miles = $0.00 Maximum Possible Pledge</span>
              </div>
                <span class="error-message" id="pledgeAmount-error">Please enter a valid amount.</span>
              </div>
              <button type="submit" id="submitButton" class="btn btn-default pull-left">Submit</button>
            </form>
            </div>
          <div class="cell-background">
            <br><br><div id="donationMessage"></div>
            <p class="bold-text">Total Pledged for this Rider: $<span id="riderSum">0.00</span>/mi</p>
            <p class="bold-text">Total Pledged for this Center: $<span id="centerSum">0.00</span>/mi</p>
            <p class="bold-text">Total Pledged for Ernie's Ride 2019: $<span id="pledgeSum">{{ pledgeSum }}</span>/mi</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Meet the 2019 Ernie's Riders</h1>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <img src="static/images/doug_shope.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Doug Shope</h3>
              <p class="text-center">
                Doug Shope is 59 years old and lives in Lebanon, Ohio with his wife Judy.  They have two grown sons and a daughter(-in-law): Andrew, Tim, &amp; Courtney.  Doug &amp; Judy attend Countryside Church of the Nazarene.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <img src="static/images/brian_messer.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Brian Messer</h3>
              <p class="text-center">
                Brian Messer is 32 years old and lives in Lebanon, Ohio.  He and his wife Allison have two daughters, Audrey &amp; Eloise.  They attend Urbancrest Baptist Church in Lebanon.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <img src="static/images/bio_dave_huff.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Dave Huff</h3>
              <p class="text-center">
                Dave Huff is 54 years old and lives in Mason, Ohio. He and his wife Shari have two daughters, Lauren and Emily. They attend Faith Bible Church in Mason. Dave was previously on staff with Athletes in Action and now has his own computer consulting business.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-2">
            <img src="static/images/bio_kent_keller.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Kent Keller II</h3>
              <p class="text-center">
                Kent Keller II is 39 years old, and lives in Middletwon Ohio with his wife, 2 sons, and 2 daughters. They attend Abundant Life Tabernacle church in Germantown, where he runs the sound system, and teaches Royal Rangers.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <img src="static/images/bio_luke_williams.jpg" class="img-responsive" />
            <div class="container-fluid">
              <h3>Luke Williams</h3>
              <p class="text-center">
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <h4>Check out the Ernie's Ride custom cycling kit <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit_2019_01.png') }}">here</a>!
            <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit_2019_02.png') }}"></a>
            <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit_2019_03.png') }}"></a>
            <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit_2019_04.png') }}"></a>
            <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit_2019_05.png') }}"></a>
          </h4>
        </div>
        <div class="row">
          <h1>Thanks To Our Cycling Kit Sponsor!</h1>
          <br>
          <div class="col-md-8 col-md-offset-2">
            <img src="{{url_for('static', filename='images/girdwood_logo.jpg') }}" class="img-responsive"/>
          </div>
        </div>
      </div>
  <script type="text/javascript">
    window.riderPledges = {
      {% for key, value in riderPledges.items() %}
        "{{ key|e }}": {{ value|e }},
      {% endfor %}
    }
    window.centerPledges = {
      {% for key, value in centerPledges.items() %}
        "{{ key|safe }}": {{ value|e }},
      {% endfor %}
    }
  </script>
{% endblock %}
