{% extends "base_layout.html" %}
{% block body %}
    <div class="container written-content">
        <h1 class="article-title">Meet Ernie</h1>
        <img src="static/images/ernie.jpg" id="erniePicture" class="bordered-images">
        <p>
        I wasn't there, but I'm pretty sure that Clay &amp; Addie Nicholson knew right away that their little boy was different.  Ernie was born with, what in contemporary medical terminology is, a severe case of Down Syndrome.  Down Syndrome is not something we can "cure".  As I understand it, it is the result of a chromosomal anomaly.
        <br>
        <br>
       Ernie Nicholson was my uncle.  My mom's little brother.  Early in his life, his family was told that he probably wouldn't survive beyond his early twenties.  Yet, he was nearer 30 years old in my earliest memories.  And Ernie was definitely memorable.
       <br>
       <br>
       Did you ever wonder what a Southern Baptist Church Service would sound like if it were crossed with an Elvis Presley Las Vegas stage show?  Not me.  Didn't have to.  I've been there and I've heard it with my own ears.  In that little frame house in Cave City, Arkansas, Ernie's voice would boom from his bedroom as he seamlessly transitioned from preacher to singer and from gospel hymns to "You Ain't Nothin' But a Hound Dog".
       <br>
       <br>
       I remember my Uncle Wesley (Ernie's younger brother) lovingly teasing Uncle Ernie by trying to get him to properly pronounce one of Ernie's all-time favorite TV shows, FBI.  It would go something like this:
       <br>
       <br>
       Wes:  "Ernie, do you like to watch FBI?"<br>
       Ernie:  "Yeah.  Ah (Ernie's long "i" sounds always came out sounding like a kid saying "Ah" as the doctor positioned a tongue-depressor to check his throat.) lah-lah-lah-lahk it."
       <br>
       Wes:  "You like what?"
       <br>
       Ernie:  "Ah lah-lah-lahk Bee Ah."
       <br>
       Wes:  "Ernie, it's not BI.  It's FBI."
       <br>
       Ernie:  "Yeah.  Yeah.  Bee Ah."
       <br>
       Wes:  "No.  Listen, Ernie.  F-B-I.  Say it with me.  It's F."
       <br>
       Ernie:  "Yeah.  Got, got, got a eff."
       <br>
       Wes:  "B"
       <br>
       Ernie:  "Yeah.  Got a Bee"
       <br>
       Wes:  "I"
       <br>
       Ernie:  "Yeah. Golly!! Got a eye"
       <br>
       Wes:  "Put all together:  FBI"
       <br>
       To which Ernie would, then, triumphantly echo:  "Bee Ah!!"
       <br>
       <br>
       I don't recall anyone ever getting Ernie to call that show anything but, "Bee Ah".  He brought a whole different spin to today's completely-too-common slang of "getting the F outta there."</p>
       <img src="static/images/ernie_family.jpg" id="ernieFamilyPicture" class="bordered-images">
       <p>
       Ernie was different, very different, from almost everyone else that I knew.  The world in which he lived was different.  Physically, it was small - - not much beyond the inside of my grandma's house, spiced up with a daily trek down their short driveway to pick up their copy of the Arkansas Democrat or to carefully and deliberately retrieve letters from the mailbox by the road. 
       <br>
       <br>
       Imaginatively, though, Ernie's world was wide open.
       <br>
       <br>
       One of my warmest memories of our annual summer vacations to Arkansas was when I could sit with Ernie, there on the side of his feather mattress bed, and he'd pull out his leather "purse" and "wallet" - - each one crammed full of pictures.  Pictures painstakingly collected and almost reverently stored, extracted, and then re-placed in their proper spots within the stretched &amp; straining confines of those hand-worn, cowhide treasuries.  Every single picture - - some actual snapshots, but most clipped from the newpaper - - was accompanied by it's own story.
       <br>
       <br>
       Stories of his six brothers and two sisters.  Stories of his mom &amp; dad.  Stories of family friends, old neighbors, childhood acquaintances, and local business owners.  Stories of his nephew, my cousin, Dale.  Fond comments about his oldest brothers' wives - - Dixie and Loretta (it always came out as "Loletta", though).  Commentaries, filled with pride, of my uncles James, Presley, and Wilbur.  Reflections of my other cousins, aunts, and uncles.  Of my dad, Wilbur (always "Bill" to Ernie, so as not to be confused with his brother), my mom ("Mattie Lou"), my sisters, Carol ("Carr-Lynn") and Terri (he always managed to get her name right), and me - - "Duckie" (he wasn't intending to associate me with the web-footed, wide-billed fowl, that's just how "Dougie" came out).
       <br>
       <br>
       Sometimes when Ernie told me about me, he actually displayed a picture of me.  Most of the time, however, his gentle, pale-white hand grasped a newsprint, gray-scale, boyhood image of some celebrity.  Sometimes it was a young John Wayne.  Other times maybe Mickey Rooney or someone lesser known.  I couldn't tell and it didn't matter.
       <br>
       <br>
       What mattered was that I always knew that I mattered to Ernie.  Not because of my pictures.  Heck, most of my pictures weren't even of me.  (I wasn't alone - - unless Clark Gable, Elvis, Johnny Cash, and Judy Garland really do look EXACTLY like everyone in our family).  What mattered was:  I had a story.  And my story had a place in Ernie's stories.  In Ernie's heart.  And Ernie took the time with me to share those stories.
       <br>
       <br>
       Ernie was different.  He could seemingly completely unhinge his bottom jaw in such a manner as to enable himself to cover the entire tip of his nose with his bottom lip.  It is one of the funniest things I have ever seen.  I still almost laugh out loud when I think of it.
       <br>
       <br>
       Did you know that in Iceland, due to universal prenatal screening, not a single child with Down Syndrome has been born in the last 9 years?  100% of babies identified for Down Syndrome have been killed (along with about 2.5% more other children due to the margin for error on a false-positive) while still in their mothers’ wombs.  Denmark  aborts 98%, Great Britain just over 90%, while Holland is somewhere between 74-94%.  Our country's statistics are probably not greatly different for those who opt for the screening.  
       <br>
       <br>
       Ernie was definitely different.  Some would say that he was somehow less.  They'd be wrong!  Ernie was everything God intended him to be.  He sure taught me a lot.  He educated me about properly valuing others.  He schooled me on loving people who are very different.  He taught me about compassion.
       <br>
       <br>
       Ernie stepped out of his physical and mental limitations some years ago at the age of 58.  He is now with his heavenly Father and I'm guessing he can clearly say "FBI" - - if he ever wants to. 
       <br>
       <br>
       In Ephesians 4:32, God says, "Be kind and compassionate to one another...".  In ways I may never fully grasp, Ernie taught me to be compassionate - - something it takes most of us years, decades, or even a lifetime to begin to get a handle on.  Not so with Ernie.  He was born that way.  And I thank God for him.
       </p>
        <h1>Doug and Ernie's Story</h1>
        <p>
        I’m no professional cyclist. I work my 40-hour week at a fantastic flavor company in Lebanon, Ohio, that provides all that is needed for me to be able to cycle to work most any day. It is a blessing, for sure! I also am an ordained minister in the Church of the Nazarene. I am married to my college sweetheart, Judy, and we are blessed with two sons &amp; a daughter (-in-law) of whom we are tremendously proud – Andrew &amp; Tim &amp; Courtney. 
        <br>
        <br>
        This event is called “Ernie’s Ride” in honor of my late Uncle Ernie who was born and lived 58 years with Down Syndrome. His life taught me what it meant to be loved &amp; valued no matter the circumstance. I miss him. I was honored to have him for an uncle. You can read a little more about him on the <a href="/meeternie">"Meet Ernie"</a> page.
        <br>
        <br>
        I’m no professional cyclist (Have I mentioned that?), but I enjoy riding and I thrive on challenging myself. And this ride will definitely be a challenge. I’ve done this twice before – in 2014 &amp; 2017. Last summer I rode more miles in a season than I ever had before and I’ve been training this winter in the hope of completing it in August at age 58. 
        <br>
        <br>
        I invite you to join me by making a per-mile pledge. It will encourage &amp; inspire me to know that every new mile we cover is making a difference for unborn children &amp; their moms. Will I make it all the way to Lake Erie in 2018 at the age of 58? I don’t know. But we will do our best! Please do your best for the unborn by making your per-mile pledge today. Your actual donation won’t be collected until after we discover how many miles of “Ernie’s Ride” we were able to complete. 
        <br>
        <br>
        Thank you for joining with me to honor my Uncle Ernie &amp; to help new moms and their babies through the Community Pregnancy Center and Elizabeth's New Life Centers.
        <br>
        <br>
        Godspeed!
        <br>
        Doug
        </p>
    </div>
{% endblock %}