{% extends "base_layout.html" %}
{% block body %}
<div class="container written-content">
  <h1 class="article-title">Ernie's Ride 2017</h1>
  <div class="container">
  <span>
    <p>Ernie’s Ride 2017 was a great success thanks to all who willingly pledged – and followed through with giving – to the Community Pregnancy Center.  The total pledges, when multiplied by the completed 320-mile journey, was in excess of $4,000.00!!  Thank you to all who pledged and gave.</p>
  </span>
  <img src="{{url_for('static', filename='images/IMG_1202.JPG')}}" class="recap-left recap-port">
  <img src="static/images/IMG_1203.JPG" class="recap-right recap-port">
  <span>
    <p>It all started on Friday morning at 6:00 in front of Paul Brown Stadium in Cincinnati.  My son, Tim, paid the price to get going early to pick me up at home and drop me off at the riverfront.  Here’s a picture of him trying to smile when he’s normally asleep!!</p>
    <p>I rode for a little under 4 hours and made a stop at Slim’s Restaurant in Spring Valley, Ohio, about 7 miles north of Waynesville.  The great thing about riding long distances is you don’t have to worry about eating too many calories.  In fact, your concerns are generally to make sure you are eating enough!</p>
  </span>
  <span>
    <p>Just under an hour later, I was on the trail, again, pedaling toward Columbus on the Little Miami Trail and then transitioning to the Prairie Grass Trail in Xenia.  When I got up near South Charleston, I actually ran into my good friend (and oft-time cycling partner), John Henry.  He and another buddy were heading back home after an early morning ride.</p>
    <p>My next stop was a late lunch in London, Ohio, where I hit the McDonald’s for some nourishment and a short break.  London is a beautiful little town that I ride to occasionally.  It’s a lot like Lebanon.  Beautiful small town.  When I pushed off from London at about 2:00 pm, I only had about 20 miles of riding before I arrived at my hotel in Columbus on West Broad Street.  I had pedaled a little more than 117 miles, burned probably 5,000 calories, and was loving every minute of trying to replace them!</p>
  </span>
  <img src="static/images/IMG_1207.JPG" class="recap-left recap-land">
  <span>
    <p>Of course, on these long rides where my bike is the only transportation I have, it goes wherever I go.  This means into my hotel room where I can unpack &amp; pack and do any minor maintenance needed.  But mainly so I can keep my eye on it!</p>
  </span>
  <img src="static/images/IMG_1212.JPG" class="recap-right recap-port">
  <span>
    <p>Saturday morning started in my favorite way:  Pre-dawn on a bicycle.  A couple miles of back-tracking to get back to the bike-trail and make my way through downtown Columbus.  Columbus has invested heavily into their bike infrastructure &amp; with trails heading in all directions, it seems like you could get anywhere you want in and around the city without almost any street-riding.</p>
    <p>Just after the sun came up, while still in the city, I came upon one of those picto-language signs with a bicycle and two squiggly lines under it:  Trail Can Be Slippery!  It was a dry day, so I didn’t pay much attention to it until I came around the little bend only to find a <span class="font-weight-bold">BANANA PEEL</span> in the trail!!  I wish I would’ve stopped to get a picture of it.  Felt like I was in a cartoon!</p>
    <p>By 8:00 AM, I was at Wendy’s in Sunbury, Ohio, having rolled about 36 miles through some beautiful Columbus Parks on the Alum Creek Trail, through Westerville, along the shore of the Hoover Reservoir, and through the quaint little town of Galena, Ohio.  I was feeling strong and riding faster than anticipated so I gave myself about a 75-minute break before putting in another 26+ miles to Mount Vernon where I enjoyed a short break at this watchtower.</p>
  </span>
  <div class="outer-frame-container">
  <div class="intrinsic-container intrinsic-container-16x9">
    <iframe src="https://www.youtube.com/embed/-kFLOzb9bO0" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
  <span>
    <p>I just stopped in Mt. Vernon for a light, early lunch (about 11:00 AM), to give a little energy and short break, about a mile up the road from where Judy &amp; I first met at Mt. Vernon Nazarene University in 1981.</p>
  </span>
  <img src="static/images/IMG_1221.JPG" class="recap-right recap-port">
  <span>
    <p>Back on the road just before noon, I pedaled the Kokosing Gap Trail through Gambier (home of Kenyon College), Howard, and Danville, eventually picking up the Mohican Trail.  When the asphalt of the Mohican Trail changed to gravel, I jumped onto the country roads south of Gann.  Not long after, I was FINDING BIGFOOT (see pic).  Turns out, he stays on a small farm south of Glenmont, Ohio!</p>
    <p>Up the road in Killibuck, I stopped at a gas station (because that’s about all there is in Killibuck!) and filled my water bottles before pedaling the final 7 miles to Millersburg.  I arrived so early in the afternoon, I actually had to kill a little time before I could check into my room at the Comfort Inn.</p>
  </span>
  <img src="static/images/IMG_1224.JPG" class="recap-left recap-port">
  <span>
    <p>An evening of re-fueling at the Dairy Queen next door (Chicken &amp; Gravy – woohoo!), loading up on snacks, and resting my legs was just what I needed.  I rolled out of bed at about 4:00 AM, prepped for the day, took the obligatory pre-dawn selfie, and was pedaling by a few minutes after 5:00.  Here’s that selfie.  My problem is that, every time I try to take a selfie, this old bald-headed guy jumps in front of me!!</p>
    <p>The day’s weather forecast called for a good chance of rain, but the morning started dry (&amp; dark).  My first 10 miles were on the ascent of the Holmes County Trail.  Cruising through a corridor of trees pre-dawn can be very dark and somewhat spooky.  With a headlight playing off all those trees, it seems there are moving shadows everywhere!  But it turned out that the biggest danger I encountered was the numerous road apples dropped by the Amish buggy engines.  The Holmes County Trail doubles as a main thoroughfare for horse &amp; buggy.</p>
    <p>I left the trail in Fredericksburg as the sky grew light and the dark clouds were already apparent in the west.  My goal was to get north of them before they got here.  The next 17 miles were on the country roads of Wayne County where traffic was almost non-existent.</p>
    <p>Oh, I missed a turn about a half-mile west of Apple Creek.  And I don’t mean that I just went the wrong way!  I was going too fast down a long hill and my turn came upon me quicker than expected.  I tried braking and turning, but started to slide, so I had to aim between a tree &amp; a utility pole, hop a very mild ditch, and navigate the front yard of an unexpecting (&amp; hopefully unaware) farm family. After narrowly missing the front of their house, I used their driveway to re-connect with the roads and got back on course.</p>
  </span>
  <img src="static/images/IMG_1226.JPG" class="recap-right recap-port">
  <span>
    <p>With one eye on the clouds to the west, I caught the Sippo Valley Trail in Dalton, rode the 20 miles into Massillon, and switched to the Towpath Trail for 15 miles to Canal Fulton.  There, I jumped off the trail to get to a McDonald’s at about 8:15.</p>
  </span>
  <img src="static/images/IMG_1228.JPG" class="recap-left recap-land">
  <span>
    <p>I took only about 45 minutes to grab some food and was back on the Towpath Trail a few minutes after 9:00.  And the clouds kept coming.  Next, it was Barberton, then Akron (where I always have trouble staying on course), and into the Cuyahoga National Park.  Once in the park, it became clear to me that I wasn’t going to outrun or skirt the rain much longer.  A quick check of the radar on my phone confirmed this, so I picked up the pace to reach Peninsula, Ohio just before the rain hit.  With my bike secure on the covered porch, I enjoyed a great burger inside a little pub.  I sat out the rainstorm in the comfort of my booth and headed back out just before 1:00 pm.</p>
  </span>
  </div>
  <div class="container">
  <img src="static/images/IMG_1229.JPG" class="recap-left recap-port">
  <img src="static/images/IMG_1232.JPG" class="recap-right recap-port">
  <span>
    <p>Much of the trail from Massillon to Cleveland is crushed limestone.  It’s not as easy as asphalt, but it is so packed down, it creates very few issues.  That is, until it gets wet.  It’s still fairly easy to ride on, even with the narrow tires of a road bike, but it creates a white-mud mess!</p>
  </span>
  <span>
    <p>I covered the last 13 of the 20 miles of trail within the National Park and got back onto pavement at about 2:00 with little more than 12 miles to Lake Erie.  Cleveland has done a pretty good job on their bike infrastructure, but the last 4+ miles are on the roads.  However, on a Sunday afternoon, traffic was not a problem.  With 3 miles to go, I got a photo op I just couldn’t pass up at the Script Cleveland with the Skyline as a backdrop.  Back on the bike and to the beach at Edgewater Park on Lake Erie by a couple minutes after 3:00.  That was easy! ☺</p>
  </span>
  </div>
  <div class="container">
  <img src="static/images/IMG_1236.JPG" class="recap-right recap-land">
  
  <span>
    <p>My son, Andrew, was kind enough to drive from Columbus meet me at the lake with my truck.  We, then, enjoyed a relaxing meal and the long ride home.  When I wasn’t dozing in the passenger seat, I regaled him with tales of my adventure and he graciously &amp; patiently listened.  Over $4,000 pledged to the Community Pregnancy Center &amp; great weekend on the bike!  Let’s do it, again, in 2018!</p>
  </span>
  </div>
  <img src="static/images/IMG_1237.JPG" class="recap-center">
</div>
{% endblock %}