{% extends "base_layout.html" %}
{% block body %}
<div class="container written-content">
  <h1 class="article-title">Ernie's Ride 2018</h1>
  <div class="container">
  <img src="{{url_for('static', filename='images/IMG_1512.JPG')}}" class="recap-right recap-port">
  <span>
    <p>Brian Messer, Chad Settlage, Tim Settlage, & I commenced pedaling at Paul Brown Stadium in Cincinnati at 6:05 AM on Friday, August 3, 2018, with a goal of Lake Erie by Sunday afternoon.   This first leg would be our longest - - covering 60 miles before a late breakfast stop at Slim’s in Spring Valley.  Just 8 miles in, we encountered unforeseen road construction which puzzled us for a few minutes, but we found our way around  it and stayed on course through Mariemont and onto the Little Miami River Trail just before mile 13.  Riding under a canopy of trees for most of the way, we pulled into Spring Valley before 10:30.</p>
  </span>
  </div>
</div>
{% endblock %}