{% extends "base_layout.html" %}
{% block body %}
<div class="container written-content">
  <h1 class="article-title">Ernie's Ride 2018</h1>
  <div class="container">
  <img src="{{url_for('static', filename='images/foto_no_exif.jpg')}}" class="recap-right recap-port">
  <span>
    <p>Brian Messer, Chad Settlage, Tim Settlage, & I commenced pedaling at Paul Brown Stadium in Cincinnati at 6:05 AM on Friday, August 3, 2018, with a goal of Lake Erie by Sunday afternoon.   This first leg would be our longest - - covering 60 miles before a late breakfast stop at Slim’s in Spring Valley.  Just 8 miles in, we encountered unforeseen road construction which puzzled us for a few minutes, but we found our way around  it and stayed on course through Mariemont and onto the Little Miami River Trail just before mile 13.  Riding under a canopy of trees for most of the way, we pulled into Spring Valley before 10:30.</p>
  </span>
  <img src="{{url_for('static', filename='images/IMG_1514.jpg')}}" class="recap-left recap-land">
  <span>
    <p>After we loaded up on protein, carbs, and calories - AND rested our legs and seats – for just under an hour, we continued up the Little Miami Trail to Xenia where we jumped onto the Prairie Grass Trail which would take us through Cedarville & South Charleston on our way to our next meal opportunity in London, OH.  We took a 15 minute (or so) break in South Charleston to take on water, shade, and handle other necessities at their quaint depot & rest area.  Then, it was only another 45 minutes of riding before we arrived in London for a late lunch and rest break.  Xenia to London doesn’t have nearly the tree canopy of the Little Miami Trail, so we were more than ready for the shade & air conditioning offered at McDonald’s.</p>
  </span>
  <img src="{{url_for('static', filename='images/IMG_1459.jpg')}}" class="recap-right recap-land">
  <span>
    <p>After a 45-minute break, we jumped back in the saddle for the last 20 miles of the day’s ride.  Along the way, we found a willing photographer who snapped this picture for us just north of London.  Grain silos are not uncommon along the Ohio to Erie Trail. 
    </p>
    <p>We pulled into the Red Roof Inn on West Broad Street in Columbus at 4:00, to be greeted by Chad’s wife Amy, & Chad’s brother-in-law & sister-in-law.  It was so encouraging to see people who were so supportive of what we were doing.  They even handled a load of sweaty cycling clothes for us.  That was such a help!!  We usually do these ourselves at the hotel, but the hotel’s washer and dryer were out of commission.  We showered and walked over to Raising Cane’s for a delicious supper and then to the grocery for snacks & supplies.  Then, it was just a soft bed, a/c, nutrition & hydration, and much needed sleep!</p>
  </span>
  <img src="{{url_for('static', filename='images/IMG_1519.jpg')}}" class="recap-right recap-land">
  <span>
    <p>Day 2 started early to avoid the August heat as much as possible.  We knew the first 30 miles were going to be within the City of Columbus, so stop & go riding was expected.  What we didn’t count on was getting halted about 8 miles into our ride by a tremendous logjam of thousands of cyclists preparing to start the Peloton Ride for Cancer Research.  It was really awe-inspiring to see that many riders preparing for a day in the saddle.  However, we knew our day would be longer than theirs.  So, at first opportunity, we scampered through their barricades and continued north & east.  We’d see them, again, later.</p>
  </span>
  <span>
    <p>After a couple hours on the bikes, we stopped on the north side of Westerville at a UDF for a break, nutrition, and hydration.  As we departed, we incurred our first (& only) crash of the trip when Brian Messer’s front wheel went out from under him.  We had not yet gotten up to speed, so the damage was limited to scraped hands.  You can see the aerial shot of the crash site (yellow spot) in the accompanying photo and I’ve found video of the crash online.  It can be seen <a href="https://www.youtube.com/watch?v=RgVUhJwGlmQ">here</a>.  At 10:00, after 2 ½ hours & 36 miles on the bikes, we grabbed breakfast and a 50-minute break at the Sunbury McDonald’s.</p>
  </span>
  <img src="{{url_for('static', filename='images/IMG_1472.jpg')}}" class="recap-left recap-land">
  <span>
    <p>Between Sunbury & Centerburg, the Ohio to Erie Trail utilizes the roads for a short spell, and we enjoyed the beautiful countryside and a brief stop at a lemonade stand manned by 3 amazing children who were learning to be enterprising and responsible - - and assisting & encouraging to 4 tired riders.  Then, we weren’t long (including a 15-minute break at the Tower) on the Heart of Ohio Trail before we stopped at Wendy’s in Mt. Vernon.</p>

    <p>After a half-hour break (& a strange text emanating from the Wendy’s restroom by one of us??), we jumped onto the Kokosing Gap Trail for a beautiful ride through a canopy of green beside a rolling river; met up, again, with the Peloton’s 55-mile group leading into their big finish at Kenyon College in Gambier; rolled past Howard (my favorite section of trail on the whole ride) & across the Bridge of Dreams; and pushed our way up about a 3-mile long ascent before a 3-mile descent into the Village of Glenmont.  Here, we stopped at a small festival and enjoyed some of the homemade fare.</p>

    <p>We were 89 miles into the day with the next 8-9 miles of riding on roads to the head of the Holmes County Trail in Killbuck.  The rolling hills of the roads were a welcome variation from the largely flat path of the trails and we navigated them easily without incident.  We rolled into the parking lot of the Comfort Inn in Millersburg at 3:50, ready for food & rest.  After showering & hitting the buffet line at East of Chicago Pizza, we stopped at Dairy Queen where we celebrated Brian’s birthday with ice cream!!</p>
  </span>
  <img src="{{url_for('static', filename='images/IMG_1569.jpg')}}" class="recap-right recap-land">
  <span>
    <p>On Sunday morning, we rolled away from the hotel at 5:47 AM, knowing that this last day would probably be our longest and, definitely, the most technical of our journey.  Awaiting us were 3 large cities (Massillon, Akron, & Cleveland) and about 50 miles of riding on a crushed limestone surface which was, at times, loosely packed and winding.  A breakfast stop in Canal Fulton at McDonald’s (where we were met by Brian’s uncle & aunt bearing a birthday present from his wife, Allison) was a welcome break after 47 miles.</p>

    <p>Then, after 50 minutes, we were back on the bikes for another 36 miles.  It was in this section that we suffered our first & only puncture (flat tire) of our ride AND of Ernie’s Ride ever in its 3 year history.   With the tire repaired (it was mine), we pedaled on to Peninsula where we enjoyed a late lunch at Fisher’s Café & Pub.  Peninsula is a neat little place in the heart of the Cuyahoga Valley National Park that caters to travelers on the Erie Towpath Trail and those awaiting and departing the Scenic Train Ride.</p>
  </span>
  <img src="{{url_for('static', filename='images/IMG_1583.jpg')}}" class="recap-left recap-land">
  <span>
    <p>With just 26 miles remaining between us and Lake Erie, we mounted the bikes just before 2:30 PM for the final push.  By this time, we were all ready to be finished.  After about 13 miles, we were glad to find that the limestone gave way to asphalt pavement leading us into downtown Cleveland.</p>

    <p>Just 5 miles from the Lake, we climbed out of the trail corridor and ascended a steep climb up Quigley Road.  I had warned the guys, but I still don’t think we were all quite prepared for this short, yet steep, climb.  Still, everyone stayed on the pedals to the top.</p>
  </span>
  <span>
    <p>With general fatigue having set in, we needed to be extra cautious in navigating Cleveland’s traffic for these final miles - - something we were able to do with varying degrees of success.  A photo op at Script Cleveland and then the final 3 miles to Edgewater Park on Lake Erie where we arrived just before 4:30 and my son, Andrew, was waiting to transport 4 bikes and 4 weary, but accomplished, cyclists back home.  The camaraderie & memories are priceless.  It was a journey I will cherish for the rest of my life - - and beyond! </p>
  </span>
  <img src="{{url_for('static', filename='images/IMG_1587.jpg')}}" class="recap-bottom">
  <h1>2018 Ernie's Ride Timeline &amp; Statistics</h1>
  <p class="timeline-text">Day 1</p>
  <p class="timeline-text">(115.9 miles)</p>
  <p class="timeline-text">7:26:21 Pedal Time</p>
  <br>
  <p class="timeline-text">6:05 AM – Departed PBS – 60 miles – 15.32 mph – Arrived Spring Valley 10:22 AM – Slim’s Bar & Grill</p>
  <p class="timeline-text">11:20 AM – Departed Spring Valley – 35.7 miles – 16.2 mph – Arrived London 1:55 PM – McDonald’s</p>
  <p class="timeline-text">2:40 PM – Departed London – 20.2 miles – 15.3 mph – Arrived Columbus 4:00 PM – Red Roof Inn on W. Broad</p>
  <br>
  <p class="timeline-text">Day 2</p>
  <p class="timeline-text">(103.2 miles)</p>
  <p class="timeline-text">6:34:29 Pedal Time</p>
  <br>
  <p class="timeline-text">6:16 AM – Departed S. Columbus – 36 miles – 14.4 mph – Arrived Sunbury 9:10 AM – McDonald’s</p>
  <p class="timeline-text">10:00 AM – Departed Sunbury – 26.1 miles – 16.9 mph – Arrived Mt. Vernon 12:00 PM – Wendy’s</p>
  <p class="timeline-text">12:38 PM – Departed Mt. Vernon – 41.1 miles – 16.2 mph – Arrived Millersburg 3:50 PM – Comfort Inn</p>
  <br>
  <p class="timeline-text">Day 3</p>
  <p class="timeline-text">(109.1 miles)</p>
  <p class="timeline-text">7:41:14 Pedal Time</p>
  <br>
  <p class="timeline-text">5:47 AM – Departed Millersburg – 47 miles – 14.3 mph – Arrived Canal Fulton 9:21 AM – McDonald’s</p>
  <p class="timeline-text">10:11 AM – Departed Canal Fulton – 36.2 miles – 14.3 mph – Arrived Peninsula 1:24 PM – Fisher’s Café</p>
  <p class="timeline-text">2:22 PM – Departed Peninsula – 25.9 miles – 14 mph – Arrived Lake Erie 4:25 PM – Edgewater Park</p>
  <br>
  <p class="timeline-text">By the Numbers</p>
  <p class="timeline-text">328.2 Total Miles</p>
  <p class="timeline-text">21:43:24 Pedal Time (Not Including Breaks)</p>
  <p class="timeline-text">15.1 mph Average Speed (Pedal Time)</p>
  </div>
</div>
{% endblock %}