.navbar-default {
	background-color: #76323F;
}

#footer-text {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#footer-text a {
	color: white;
}

.navbar {
	margin-bottom: 0;
}

#donationMessage {
	min-height: 172px;
	display: none;
}

#mileText {
	color: black;
	margin-left: 80px;
	margin-top: 7px;
	display: block;
}

#pledgeAmount {
	width: 5em;
	float: left;
}

#pledgeDiv {
	margin-left: 0px;
	padding-left: 0px;
}

.form-group label {
	color: black;
}

.form-group {
	text-align: left;
}

#bold-text {
	font-weight: bold;
	color: black;
	font-size: 25px;
}

.cell-background h2, .cell-background h3 {
	color: black;
	padding: 0;
	margin: 0;
}

body {
	background: #ffffff;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
	font-weight: bold;
}

p {
	font-size: 16px;
	color: #cdcdcd;
}

.written-content {
	text-align: center;
}

.written-content h1, h2, h3, h4 {
	color: #76323F;
	font-family: sans-serif;
}

.written-content h2 {
	font-size: 25px;
}

.written-content p {
	color: #565656;
	text-align: left;
}

.main-banner {
	background-color: #D7CEC7;
}

.tan-background {
	background-color: #D7CEC7;
}

.btn-primary {
	color: #000;
	background-color: transparent;
	margin-bottom: 5px;
}

.btn-primary:hover {
	color: #27A967;
	background-color: white;
}

.navbar-inverse {
	background: white;
	border: 0;
}

.navbar-inverse .navbar-brand {
	color: #76323F;
}

.navbar-inverse .navbar-brand:hover {
	color: #76323F;
}

#erniePicture {
	max-width: 20%;
	float: left;
	margin-right: 7px;
}

#ernieFamilyPicture {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}