.navbar-default {
	background-color: #76323F;
}

#footer-text {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#main-img {
	max-height: 70vh;
}

#footer-text a {
	color: white;
}

.navbar {
	margin-bottom: 0;
}

#donationMessage {
	min-height: 172px;
	display: none;
}

#mileText {
	color: black;
	margin-left: 80px;
	margin-top: 7px;
	display: block;
}

#pledgeAmount {
	width: 5em;
	float: left;
}

#pledgeDiv {
	margin-left: 0px;
	padding-left: 0px;
}

.form-group label {
	color: black;
}

.form-group {
	text-align: left;
}

#bold-text {
	font-weight: bold;
	color: black;
	font-size: 25px;
}

.cell-background h2, .cell-background h3 {
	color: black;
	padding: 0;
	margin: 0;
}

body {
	background: #ffffff;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
	font-weight: bold;
}

p {
	font-size: 16px;
	color: #cdcdcd;
}

.written-content {
	text-align: center;
}

.written-content h1, h2, h3, h4 {
	color: #76323F;
	font-family: sans-serif;
}

.written-content h2 {
	font-size: 25px;
}

.written-content p {
	color: #565656;
	text-align: left;
}

.main-banner {
	background-color: #D7CEC7;
}

.btn-primary {
	color: #000;
	background-color: transparent;
	margin-bottom: 5px;
}

.btn-primary:hover {
	color: #27A967;
	background-color: white;
}

.navbar-inverse {
	background: white;
	border: 0;
}

.navbar-inverse .navbar-brand {
	color: #76323F;
}

.navbar-inverse .navbar-brand:hover {
	color: #76323F;
}

#erniePicture {
	max-width: 25%;
	float: left;
	margin-right: 7px;
}

#ernieFamilyPicture {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.bordered-images {
	border-width: 3px;
	border-style: solid;
	border-color: #565656;
}

.solid-navbar {
	background-color: #76323F;
}

.solid-navbar .navbar-brand {
	color: white;
}

.solid-navbar .navbar-brand:hover {
	color: white;
}

.solid-navbar .header-link {
	color: white;
}

.solid-navbar .header-link:hover {
	color: white;
	background-color: #76323F;
}

.align-left {
	float: left;
}

#meet-ernie-h1 {
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 50px;
}

#footer {
	margin-bottom: 0;
	padding-bottom: 0;
}

.navbar-header button {
	border-color: white;
}

.navbar-header button .icon-bar {
	background-color: white;
}

.center-image {
	/*width: 100%;*/
	max-width: 100%;
}

.nav li a:focus {
	background-color: #76323F;
}

#state-map {
	margin-top: 10px;
}

#cpc-logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

.test {
	display: inline-block;
	float: left;
	width: 48%;
	margin-left: 0;
	padding-left: 0;
	margin-right: 0;
	padding-right: 0;
	/*background-color: red;*/
}

.same-line-container {
	margin-left: 0;
	padding-left: 0;
	width: 100%;
	/*background-color: blue;*/
	padding-right: 0;
}

.same-line-input {
	width: 100%;
}

#something {
	margin-left: 4%;
}

#state {
	width: 20%;
}

#city: {
	width: 48%;
}
#lastName {
}

#last-name-label {
}