.body-container {
	min-height: calc(100vh - 111px);
	padding: 0;
	margin: 0;
}

.navbar-default {
	background-color: #76323F;
}

/*Navbar Dropdown Elements*/

ul .dropdown a:hover {
	background-color: #76323F;
}

ul .dropdown a {
	color: white;
}

.nav .open a:focus {
	background-color: #76323F;
}

.nav .open a {
	background-color: #76323F;
}

.nav .open a:hover {
	background-color: #76323F;
}

ul .dropdown-menu {
	background-color: #76323F;
}

/****************************/

#footer-text {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#main-img {
	max-height: 70vh;
}

#footer-text a {
	color: white;
}

.navbar {
	margin-bottom: 0;
}

#donationMessage {
	min-height: 172px;
	display: none;
}

#mileText {
	color: black;
	margin-left: 80px;
	margin-top: 7px;
	display: block;
}

#pledgeAmount {
	width: 5em;
	float: left;
}

#pledgeDiv {
	margin-left: 0px;
	padding-left: 0px;
}

.form-group label {
	color: black;
}

.form-group {
	text-align: left;
}

#O2E-logo {
	height: 300px;
}

.bold-text {
	font-weight: bold;
	color: black;
	font-size: 25px;
}

.cell-background h2, .cell-background h3 {
	color: black;
	padding: 0;
	margin: 0;
}

body {
	background: #ffffff;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
	font-weight: bold;
}

p {
	font-size: 16px;
	/*color: #cdcdcd;*/
	color: #565656;
	text-align: left;
}

.written-content {
	text-align: center;
}

.written-content h1, h2, h3, h4 {
	color: #76323F;
	font-family: sans-serif;
}

.written-content h2 {
	font-size: 25px;
}

.main-banner {
	background-color: #D7CEC7;
}

.btn-primary {
	color: #000;
	background-color: transparent;
	margin-bottom: 5px;
}

.btn-primary:hover {
	color: #27A967;
	background-color: white;
}

.navbar-inverse {
	background: white;
	border: 0;
}

.navbar-inverse .navbar-brand {
	color: #76323F;
}

.navbar-inverse .navbar-brand:hover {
	color: #76323F;
}

#erniePicture {
	max-width: 25%;
	float: left;
	margin-right: 7px;
}

#ernieFamilyPicture {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.bordered-images {
	border-width: 3px;
	border-style: solid;
	border-color: #565656;
}

.solid-navbar {
	background-color: #76323F;
}

.solid-navbar .navbar-brand {
	color: white;
}

.solid-navbar .navbar-brand:hover {
	color: white;
}

.solid-navbar .header-link {
	color: white;
}

.solid-navbar .header-link:hover {
	color: white;
	background-color: #76323F;
}

.align-left {
	float: left;
}

.article-title {
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 50px;
}

#footer {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 20px;
}

.navbar-header button {
	border-color: white;
}

.navbar-header button .icon-bar {
	background-color: white;
}

.center-image {
	/*width: 100%;*/
	max-width: 100%;
}

.nav li a:focus {
	background-color: #76323F;
}

#state-map {
	margin-top: 10px;
}

#cpc-logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

.test {
	display: inline-block;
	float: left;
	width: 48%;
	margin-left: 0;
	padding-left: 0;
	margin-right: 0;
	padding-right: 0;
	/*background-color: red;*/
}

.same-line-container {
	margin-left: 0;
	padding-left: 0;
	width: 100%;
	/*background-color: blue;*/
	padding-right: 0;
}

.same-line-input {
	width: 100%;
}

#something {
	margin-left: 4%;
}

#state {
	width: 20%;
}

#city: {
	width: 100%;
}

.test-notification {
	height: 50px;
	width: 100%;
	background-color: #4858A4;
}

.recap-left {
	margin: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #565656;
	float: left;
}

.recap-right {
	margin: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #565656;
	float: right;
}

.recap-land {
	width: 25%;
}

.recap-port {
	width: 15%;
}

.recap-center {
	margin: auto;
	width: 25%;
	border-width: 2px;
	border-style: solid;
	border-color: #565656;
}

.font-weight-bold {
	font-weight: bold;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.outer-frame-container {
	width: 560px;
	max-width: 100%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

.error-message {
	color: red;
	display: none;
	font-weight: bold;

}

.rider-pictures {
	max-height: 400px;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.recap-right {
		display: block;
		margin: auto;
		float: none;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.recap-left {
		display: block;
		margin: auto;
		float: none;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.recap-land {
		width: 50%;
	}

	.recap-port {
		width: 35%;
	}

	.recap-center {
		width: 50%;
	}

	#state {
		width: 35%;
	}
}