        <h1>Doug and Ernie's Story</h1>
        <p>
        I’m no professional cyclist. I work my 40-hour week at a fantastic flavor company in Lebanon, Ohio, that provides all that is needed for me to be able to cycle to work most any day. It is a blessing, for sure! I also am an ordained minister in the Church of the Nazarene and assist a very good friend who pastors a small non-denominational church in downtown Lebanon. I am married to my college sweetheart, Judy, and we are blessed with two sons &amp; a daughter (-in-law) of whom we are tremendously proud – Andrew &amp; Tim &amp; Courtney. 
        <br>
        <br>
        This event is called “Ernie’s Ride” in honor of my late Uncle Ernie who was born and lived 58 years with Down Syndrome. His life taught me what it meant to be loved &amp; valued no matter the circumstance. I miss him. I was honored to have him for an uncle. You can read a little more about him on the <a href="/meeternie">"Meet Ernie"</a> page.
        <br>
        <br>
        I’m no professional cyclist (Have I mentioned that?), but I enjoy riding and I thrive on challenging myself. And this ride will definitely be a challenge. I’ve done this just once before – in 2014. Last summer I rode more miles in a season than I ever had before and I’ve been training this winter in the hope of completing it in June at age 57. 
        <br>
        <br>
        I invite you to join me by making a per-mile pledge. It will encourage &amp; inspire me to know that every new mile I cover is making a difference for unborn children &amp; their moms. Will I make it all the way to Lake Erie in 2017? I don’t know. But I will do my best! Please do your best for the unborn by making your per-mile pledge today. Your actual donation won’t be collected until after we discover how many miles of “Ernie’s Ride” I was able to complete. 
        <br>
        <br>
        Thank you for joining with me to honor my Uncle Ernie &amp; to help new moms and their babies through the Community Pregnancy Center.
        <br>
        <br>
        Godspeed!
        <br>
        Doug
        </p>