{% extends 'base_admin.html' %}
{% block content %}
<h1>Add/Remove/Edit Rider Bios</h1>
<div class="container">
    {% if riderBios|length > 0  %}
    <h2>Current Riders</h2>
        {% for rider in riderBios %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}">
                        <span class="glyphicon glyphicon-plus"></span>    {{ rider.name }}</a>
                    </h4>
                </div>
                <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form action="/admin/updateRiderBio" method="post" enctype="multipart/form-data">
                            <input type="hidden" value="{{rider.id}}" name="riderID">
                            <input type="hidden" value="{{rider.picture}}" name="originalFilename">
                            <div class="form-group">
                                <label for="riderName">Rider Name</label>
                                <input type="text" class="form-control" id="riderName" name="riderName" value="{{rider.name}}">
                            </div>
                            <div class="form-group">
                                <label for="riderBio{{rider.id}}">Rider Bio</label>
                                <textarea class="form-control" id="riderBio" name="riderBio" rows="10">{{rider.bio}}</textarea>
                              </div>
                            <div class="form-group">
                                <label for="riderPicture">Current Picture</label>
                                <img src="/static/images/{{rider.picture}}" class="img-responsive" id="riderPicture"/>
                            </div>
                            <div class="form-group">
                                <label for="riderPictureUpload">Upload New File for Picture Change:</label>
                                <input type="file" id="riderPictureUpload" name="riderPictureUpload">
                                <p class="help-block">Remember to use the correct aspect ratio!</p>
                            </div>
                            <div class="form-group">
                                <label for="deleteRider">Do you want to delete this rider's bio?</label>
                                <input type="checkbox" id="deleteRider" name="deleteRider" value="false">
                            </div>
                            <button type="submit" class="btn btn-primary" value="submit">Update Changes</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <h2>Add a Rider</h2>
    <form action="/admin/putNewRiderBio" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="riderNameInput">Rider Name</label>
          <input type="text" class="form-control" id="riderNameInput" name="riderNameInput" placeholder="Pete Rose">
        </div>
        <div class="form-group">
          <label for="riderBioInput">Rider Bio</label>
          <textarea class="form-control" id="riderBioInput" name="riderBioInput" rows="10"></textarea>
        </div>
        <div class="form-group">
          <label for="riderPictureFile">Rider Picture</label>
          <input type="file" id="riderPictureFile" name="riderPictureFile">
          <p class="help-block">Remember to use the correct aspect ratio!</p>
        </div>
        <button type="submit" class="btn btn-primary" value="submit">Add Rider Bio</button>
      </form>
</div>
{% endblock %}