{% extends "base_layout.html" %}
{% block body %}
<div class="container written-content">
	<br>
	<br>
	<img src="static/images/enlc-logo.png" class="img-responsive center-block">
	<h2 class="article-title">Women's Center - Lebanon</h2>
	<p>Elizabeth’s New Life Center serves our clients and community through five core programs:</p>
	<p>&bull; Our women’s centers offer intervention in crisis pregnancies.</p>
	<p>&bull; Our prenatal care center provides continuity of care for our pregnant clients.</p>
	<p>&bull; Our in-school youth development services aim to prevent teen pregnancy through abstinence education.</p>
	<p>&bull; Our marriage education program promotes marriage and healthy relationships as the best context for raising children.</p>
	<p>&bull; We also provide after-abortion support for those who have been impacted by an abortion decision.</p>
	<br>
	<img src="static/images/enlc-lebanon.jpg" class="img-responsive center-block">
	<br>
	<p>Learn more about our signature services as well as the programs that support them by clicking on the link below:</p>
	<p><a href="http://womenscenterohio.com/make-an-appointment/womens-center-lebanon/">http://womenscenterohio.com/make-an-appointment/womens-center-lebanon/</a></p>
</div>
{% endblock %}