{% extends "base_layout.html" %}
{% block body %}
	<div class="container written-content">
		<br>
		<h2 class="article-title">Hope Rising - Xenia, OH</h2>
		<p>Hope Rising (formerly Miami Valley Women’s Center) is a pro-life, Christ-based, Pregnancy Center providing honest, accurate, and compassionate listening and answers for women facing unplanned pregnancies.  A staff of experienced nurses, ultrasonographers, consultants, and volunteers, committed to caring for women, work together to provide clients with physical, mental, emotional, and spiritual help.  Their services are free and the center provides a comforting &amp; calm atmosphere to help women make the best choice for their lives.  They are located at 245 S. Allison Avenue, Xenia, OH 45385.  More information can be found at <a href="http://www.hoperising.org/xenia/">www.hoperising.org/xenia/</a></p>
		<br>
		<img src="static/images/Hope_Rising_-_Xenia.jpg" class="img-responsive center-block">
		<br>
	</div>
{% endblock %}