<div class="container">
      <div class="row">
        <h1 id="ride-in-2018">Want to Ride Ernie's Ride 2018?</h1>
        <br>
        <img src="static/images/state-map.jpg" class="img-responsive center-block">
        <br>
        <p>This 3-day event is August 3-5 (Friday – Sunday).  Riders are required to obtain sponsors totaling at least $2.00 per mile.  This is pretty easy to do using social media.  Riders are responsible for all of their own food &amp; lodging over the 3 days &amp; two nights.  No sponsored monies are used for the riders’ expenses.  So, it is quite a sacrifice, but it is well worth it.  The ride follows the route of the Ohio to Erie Trail which is dedicated bike trail about 85% of the way and a few roads for the remaining miles.  Most of the roads we cycle are lightly travelled by cars and a premium is placed on cyclist safety.</p>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="static/images/brian_messer.jpg" class="img-responsive center-block rider-pictures">
            </div>
            <div class="col-md-6">
              <img src="static/images/doug_shope.jpg" class="img-responsive center-block rider-pictures">
            </div>
          </div>
        </div>
        <p>Friday departs from Paul Brown Stadium at 6:00 AM and covers about 112 miles to Columbus.  Saturday departs the hotel in Columbus and covers about 103 miles to Millersburg, Ohio.  On Sunday, we depart our hotel in Millersburg and cover the final 105 miles to Edgewater Park on Lake Erie in Cleveland.  Stops are made daily as needed for rest, refueling, and recharging.  In 2017, the stops were (in order) Spring Valley, London, Columbus, Sunbury, Mount Vernon, Millersburg, Canal Fulton, Peninsula, and Cleveland.</p>
        <br>
        <p>The Ernie’s Ride Custom Cycling Kit is available for purchase by any rider.  Cost is dependent on how many pieces are being ordered. You can view the kit <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit-1.jpg') }}">here</a>
        <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit-2.jpg') }}"></a>
        <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit-3.jpg') }}"></a>
        <a data-fancybox="gallery" href="{{ url_for('static', filename='images/kit-4.jpg') }}"></a>
        .
        </p>
        <br>
        <p>Finally, Ernie’s Ride is open to both male &amp; female riders.  However, accountability, propriety, and responsibility may limit the number of riders we can accept.  If you would like to ride, please email us at erniesride@gmail.com.  We will be glad to provide registration details and answers to any questions you may have.   Deadline to register to ride Ernie’s Ride 2018 is June 30, 2018.</p>
      </div>
    </div>